html,
body {
	height: 100%;/*sticky footer*/
	display: flex;/*sticky footer*/
	flex-direction: column;/*sticky footer*/
	margin: 0;
	scroll-behavior: smooth;
	font-family: 'Ubuntu';
	font-weight: 400;
	font-size: 16px;
	color: #fff;
	line-height: 1.4;
	background-color: #00295D;
 }
body > * {
	flex-shrink: 0;
	/*sticky footer*/
  }
.footer{
	margin-top: auto;/*sticky footer*/
}
button{
	cursor: pointer;
}
main{
	margin-top: 230px;
}
.container{
	max-width: 1310px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

a,
button,
.btn,
a:hover,
button:hover,
.btn:hover{
	transition: all .4s ease-in;
}
.btn{
	display: block;
	padding: 0;
	max-width: 100%;
	font-size: 16px;
	text-align: center;
	background: #00295d;
	border-radius: 20px;
	color: #fff;
	border: none;
}
.btn:hover{
	background:#3980dd;
}
.button{
	display: block;
	padding: 0;
	max-width: 100%;
	text-align: center;
	font-weight: 600;
	color: #00295d;
	background: #ffc702;
	border: none;
}
.button:hover{
	background: #b48d01;
	color: #fff;
}
.title{
	margin-bottom: 60px;
	font-size: 55px;
	font-weight: 500;
	text-align: center;
}